
.pai {
    width: 300px;
    height: 300px;
    padding: 15px;
    margin: 10px;
    border: 2px solid #000;
    background-color: aqua;
    box-sizing: border-box;
}
.filho {
    width: 200px;
    height: 200px;
    padding: 15px;
    margin: 10px;
    border: 2px solid #000;
    background-color: aquamarine;
    box-sizing: inherit;
}